@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: rgba(22, 155, 98);
  --blue: rgba(0, 120, 191);
  --orange: rgba(228, 150, 28);
  --yellow: rgba(255, 248, 0);
  --red: rgba(255, 102, 94);
}

a {
  font-family: PPRader;
  font-weight: normal;
  color: var(--blue);
  letter-spacing: 2px;
  text-decoration: inherit;
  text-transform:uppercase;
}

a:hover {
  color: var(--orange);
  letter-spacing: 4px;
}

input {
  border-radius: 0 !important;
}