@import "tailwindcss";

@layer theme {
  @font-face {
    font-family: "PPRader";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PPRaderWeb/PPRader-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PPRader";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PPRaderWeb/PPRader-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PPRader";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PPRaderWeb/PPRader-Italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PPRader";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/PPRaderWeb/PPRader-Thin.woff2") format("woff2");
  }

  :root, :host {
    --default-font-family: "PPRader";
  }
}