@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "PPRader";
  src: url("./fonts/PPRaderWeb/PPRader-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "PPRader";
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(22, 155, 98); 
  /* #169b62 */
  --blue: rgb(0, 120, 191);
  /* #0078bf */
  --orange: rgb(228, 150, 28);
  /* #e4961c */
  --yellow: rgba(255, 248, 0);
  --red: rgba(255, 102, 94);
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--blue);
  letter-spacing: 2px;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#app {
  overflow: scroll;
}

.svdc__top-landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('./images/photo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.svdc__top-landing-left {
  width: 100%;
  text-transform: uppercase;
  align-content: center;
  justify-items: center;
}

.svdc__top-landing-left--info {
  justify-items: center;
  line-height: 0.5px;
}

.svdc__top-landing-right {
  display: flex;
}

.svdc__top-landing p {
  font-weight: normal;
}

.svdc__top-landing-logo {
  max-width: 100vw;
  max-height: 50%;
}

.svdc__top-landing-photo {
  max-height: -webkit-fill-available;
}

hr {
  display: block;
  height: 8px;
  border: 0;
  border-top: 8px solid var(--green);
  margin: 0;
  padding: 0;
}

.svdc__inner-details {
  margin: 0 auto;
  max-width: 1280px;
}

.svdc__details-dress-code {
  padding: 24px;
  justify-items: center;
}

.svdc__details-dress-code-top {
  display: flex;
}

#palette {
  width: 50%;
}

.svdc__details-dress-code-photo {
  width: 50%;
}

.svdc__details-dress-code-info {
  display: grid;
  justify-items: center;
  width: 100%;
  gap: 8px;
}

.svdc__details-dress-code-info-top {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.svdc__details-dress-code-info--section {
  align-content: center;
}

.svdc__details-dress-code-info--section > h2,
.svdc__details-dress-code-info--section > p {
  margin: 0;
}

.svdc__orange-pill {
  color: var(--orange)
}

.svdc__green-pill {
  color: var(--green)
}

.pill {
  font-weight: bold;
}

.svdc__details-dress-code-pegs {
  display: grid;
  justify-items: center;
}

#pegs-mobile,
#pegs-web {
  width: 100%;
}

#pegs-mobile {
  display: none;
}

.svdc__details-dress-code-footer {
  color: var(--orange);
  width: 80%;
}

.svdc__details-setting,
.svdc__details-rsvp {
  justify-items: center;
  padding: 24px;
  text-align: center;
}

.svdc__details-rsvp .svdc__details-rsvp-heading {
  color: var(--orange);
}

.svdc__details-rsvp-message {
  max-width: 520px;
}

#rsvp-button {
  max-width: 200px;
  margin: 32px 0;
}

#rsvp-button:hover {
  box-shadow: 1px 0 10px var(--green);
}

#rsvp-deadline {
  color: #fff;
  background-color: var(--orange);
}

#sam, #daniel {
  font-weight: bold;
}

/* #sam {
  color: var(--orange);
}

#daniel {
  color: var(--green);
} */

@media screen and (max-width: 768px) {
  .svdc__top-landing {
    background-size: cover;
    background-position: center;
  }

  .svdc__top-landing-right {
    display: none;
  }

  .svdc__top-landing-left--info {
    justify-items: center;
    line-height: 0.5px;
  }

  .svdc__details-dress-code-top {
    display: grid;
    justify-items: center;
    gap: 8px;
  }

  .svdc__details-dress-code-info--section.accents{
    text-align: center;
  }

  #palette {
    width: 100%;
  }

  #pegs-mobile {
    display: block;
  }

  #pegs-web {
    display: none;
  };
}