@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: "PPRader";
  src: url("/fonts/PPRaderWeb/PPRader-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "PPRader";
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgba(22, 155, 98);
  --blue: rgba(0, 120, 191);
  --orange: rgba(228, 150, 28);
  --yellow: rgba(255, 248, 0);
  --red: rgba(255, 102, 94);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--blue);
}

h1 {
  font-size: 32px;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.svdc__top-landing {
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.svdc__top-landing-left {
  text-transform: uppercase;
  width: 70vw;
  align-content: center;
  justify-items: center;
  display: grid;
}

.svdc__top-landing-left--info {
  justify-items: center;
  letter-spacing: 2px;
  line-height: 0.5px;
}

.svdc__top-landing-right {
  width: 30vw;
  display: flex;
}

.svdc__top-landing p {
  font-weight: normal;
}

.svdc__top-landing-logo {
  /* max-height: 30%; */
  max-width: 30%;
}

.svdc__top-landing-photo {
  max-width: -webkit-fill-available;
}

hr {
  display: block;
  height: 8px;
  border: 0;
  border-top: 8px solid var(--green);
  margin: 0;
  padding: 0;
}

.svdc__details-dress-code {
  display: flex;
}

.svdc__details-dress-code-photo {
  width: 50%;
}

.svdc__details-dress-code-info--section {
  height: auto;
}

@media screen and (max-width: 768px) {
  .svdc__top-landing {
    max-height: -webkit-fill-available;
    max-width: -webkit-fill-available;
    display: grid;
  }

  .svdc__top-landing-left {
    align-content: center;
    justify-items: center;
    display: grid;
  }

  .svdc__top-landing-left--info {
    justify-items: center;
    letter-spacing: 2px;
    line-height: 0.5px;
  }

  .svdc__top-landing-right {
    display: flex;
  }

  .svdc__top-landing-left, .svdc__top-landing-right {
    width: 100vw;
    grid-column: 1;
    grid-row: 1;
  }

  .svdc__top-landing-logo {
    max-width: 80%;
  }
}